.dashboard-container {
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    padding-top: 3px;
    align-items: center;
    justify-content: center;

}

.dashboard-title {
    text-align: center;
    font-size: 2.5rem;
    color: #ffffff;
    margin: 20px 220px; /* Ortaya getirmek için */
    text-transform: capitalize;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 1px;
    background: linear-gradient(90deg, #20854a, #13502c); /* Yeşil degrade */
    color: #fff;
    padding: 10px 20px;
    margin-bottom: 25px;
    border-radius: 10px; /* Hafif yuvarlatılmış köşeler */
    display: inline-block; /* Ortada genişlik */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* Hafif gölge efekti */
}

.search-container {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
}

.search-container input {
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 200px;
}

.search-container button {
    padding: 10px 20px;
    font-size: 1rem;
    background-color: #185535;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.search-container button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.business-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    padding: 0; /* Kenar boşluklarını kaldır */
}

.business-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 350px; /* Tüm kartların aynı yüksekliğe sahip olması */
    border: 1px solid #ddd;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    background-color: #fff;
    margin: 0;
    outline: none;
}

.business-card:hover {
    transform: scale(1.05);
}

.business-image img {
    width: 100%;
    height: 150px; 
    object-fit: cover;
    margin: 0; 
    padding: 0;
}

.business-info {
    padding: 15px;
    flex-grow: 1; 
    margin: 0; /* Kenar boşluklarını sıfırlar */
    padding: 10px; /* İstenilen iç boşluğu ekler */
}

.business-info h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: #333;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.business-description {
    font-size: 0.9rem;
    color: #666;
    margin-bottom: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1; /* Maksimum iki satır göster */
    -webkit-box-orient: vertical;
}

.business-rating {
    font-size: 1rem;
    color: #1d513d;
}

.details-button {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 15px;
    background-color: #165234;
    color: #fff;
    outline: none;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.details-button:focus {
    outline: none; /* Ek odak durumlarını sıfırlar */
    box-shadow: none; /* Gölgeleri kaldırır */
}

.details-button:hover {
    background-color: #3a9c49;
}
